{% extends 'posts/base.html' %}

{% block content %}
    <p>ARTICLES</p>
    <ul>
        {% for article in articles %}
            <li>{{ article }}</li>
        {% empty %}
            <li>No articles have been added. Please hold on</li>
        {% endfor %}
    </ul>
    <div class="post-entry">
        <h2>{{ object.title }}</h2>
        <p>{{ object.body }}</p>
    </div>

    <p><a href="{% url 'edit' article.pk %}"> Edit Article></a></p>
    <p><a href="{% url 'delete' article.pk %}"> Delete Article</a></p>
    {% endblock %}